.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-width: 100%;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.buttonGroup button{
  margin: 0 30px;
}

.submitButton,
.cancelButton {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton {
  background-color: var(--green);
  color: white;
}

.cancelButton {
  background-color: var(--grey);
  color: white;
  margin-left: 10px;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  color: white;
  cursor: pointer;
  padding: 0.4rem 1rem;
  border: 0;
  touch-action: manipulation;
  border-radius: 0.3rem;
  transition: 0.2s ease-in-out;
}

.cancelButton:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.deleteButton:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.submitButton:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
